@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

:root {
    --lightyellow: #fcf398;
    --lightestpurple: #ebc0fd;
    --lightmagenta: #e75eff;
    --yellow: #FFD54F;
}

.btn-magenta-primary,
.btn-magenta-primary:hover {
    background-color: var(--lightmagenta);
    color: black;
    border: 2px solid rgb(0, 0, 0);
}

.btn-magenta-outline,
.btn-magenta-outline:hover {
    background-color: black;
    color: var(--lightmagenta);
    border: 2px solid var(--lightmagenta);
}

.btn-magenta-outline > a {
    text-decoration: none;
    color: var(--lightmagenta);
}

.btn-magenta-primary > a {
    text-decoration: none;
    color: black;
}

.resume-section hr {
    color: #e75eff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: black;
    color: white;
    font-family: 'Merriweather', serif;
}